body {
	background-color: rgb(13,13,13);
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll; 
}

body::-webkit-scrollbar {
	display: none; /* for Chrome, Safari, and Opera */
}

#panel {
	opacity: 1;
	transition: opacity 0.1s linear;
}

#panel.hide {
	opacity: 0;
}
